@media screen and (max-width: 768px) {
    body {
        padding-top: 40px;
    }

    .container {
        width: 90%;
        height: auto;
        padding: 20px;
        margin-top: 20px;
    }

    .container__conteudo {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .container__imagem-robo {
        width: 70%;
        height: auto;
        margin: 0 0 20px 0;
    }

    .container__informacoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }

    #parabens-texto {
        font-size: 36px;
        margin-bottom: 10px;
    }

    #trophy-img {
        width: 100px;
        height: auto;
        margin-bottom: 10px;
    }

    h2#mensagem {
        font-size: 20px;
        margin-bottom: 10px;
    }

    input#input-chute {
        width: 80%;
        margin-bottom: 10px;
    }
    
    .container__botao {
        font-size: 16px;
        padding: 10px 20px;
        margin-top: 5px;
    }

    #jogar-novamente {
        margin-top: 15px;
    }

    #ruido {
        background-size: cover;
        background-position: center;
    }
}
