* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#ff75ed 0%, #300432 33.33%, #270432 66.67%, #0b010e 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1200px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 10px solid #e883f5;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
}

.container__conteudo {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.container__informacoes {
    flex: 1;
    padding: 20px;
}

.container__texto {
    margin: 16px 0 16px 0;
}

.container__texto-azul {
    color: #7c33cf;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
}

h2,
p,
button {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 32px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 20px;
    }

    .container__conteudo {
        flex-direction: column;
        position: static;
    }

    .container__imagem-robo {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 24px;
    }

}
